<md-card class="no-padding">
  <md-toolbar color="primary">Scan operator demo</md-toolbar>

  <md-tab-group class="demo-tab-group" md-stretch-tabs>
    <md-tab>
      <ng-template md-tab-label>Example</ng-template>
      <div class="tab-content">
        <div class="margin-4">
          {{album.title}} :
          <button md-raised-button [color]="'primary'">{{album.likes}} Likes <md-icon>thumb_up</md-icon></button>
          <button md-raised-button [color]="'warn'">{{album.dislikes}} Dislikes <md-icon>thumb_down</md-icon></button>
        </div>
        <md-grid-list cols="3" rowHeight="2:1">
          <md-grid-tile *ngFor="let image of album.images" class="margin-right-8">
            <md-card class="padding-bottom-0">
              <md-card-title-group>
                <md-card-title>{{image.title}}</md-card-title>
                <md-card-subtitle>{{image.date | date:'medium'}}</md-card-subtitle>
                <img md-card-md-image [src]="image.src">
              </md-card-title-group>
              <md-card-content class="margin-bottom-0">
                <md-card-actions class="margin-4 align-left">
                  <button md-raised-button>{{image.likes}}  <md-icon [color]="'primary'">thumb_up</md-icon></button>
                  <button md-raised-button [color]="'warn'">{{image.dislikes}}  <md-icon>thumb_down</md-icon></button>
                </md-card-actions>
              </md-card-content>
              <md-card-footer>
                <md-progress-bar mode="determinate"></md-progress-bar>
              </md-card-footer>
            </md-card>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>About</ng-template>
      <div class="tab-content documentation">
        <iframe src="http://reactivex.io/documentation/operators/scan.html" width="100%" height="350"></iframe>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Sample Code</ng-template>
      <div class="tab-content">
        <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
      </div>
    </md-tab>
  </md-tab-group>
  <md-card-footer>
    <md-progress-bar mode="determinate"></md-progress-bar>
  </md-card-footer>
</md-card>
