<mat-card class="no-padding">
  <mat-toolbar color="primary">Buffer demo</mat-toolbar>

  <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>Example</ng-template>
      <div class="tab-content">
        <mat-card-content>
          <mat-slider class="app-slider" color="warn" [value]="sliderValue" thumbLabel [min]="0" [max]="5"
            step="1" #slider1></mat-slider>
            <h3>Select 5 numbers to add</h3>
        </mat-card-content>
        <mat-card-content>
          <mat-grid-list cols="5" rowHeight="2:1">
            <mat-grid-tile *ngFor="let button of buttons" (click)="addNumber(button)" class="button-buffer">{{button}}</mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-content>
          <strong>You have selected:</strong> 
          <button mat-raised-button *ngFor="let number of latestNumbers">{{number}}</button>
          <strong>Total:</strong> {{total}}
        </mat-card-content>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>About</ng-template>
      <div class="tab-content documentation">
        <iframe src="http://reactivex.io/documentation/operators/buffer.html" width="100%" height="350"></iframe>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Sample Code</ng-template>
      <div class="tab-content">
        <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
