<div class="card-container">
  <mat-card>
    <mat-toolbar color="primary">Merge demo</mat-toolbar>

    <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>Example</ng-template>
        <div class="tab-content">
          <mat-card-content>
            <mat-slider class="app-slider" color="primary" [value]="sliderValue" [disabled]="sliderDisabled" thumbLabel min="0"
              max="10" step="1" #slider1></mat-slider>
            <mat-slider class="app-slider" color="warn" [value]="secondSliderValue" [disabled]="secondSliderDisabled" thumbLabel min="0"
              max="5" step="1" #slider1></mat-slider>
          </mat-card-content>
          <mat-card-content>
            <button mat-raised-button color="user.color" *ngFor="let user of users" class="margin-4"> {{user.name}}</button>
          </mat-card-content>
          <mat-card-content>
            <p>Different streams may emit at different times.</p>
            <mat-card-actions>
              <button mat-raised-button (click)="restart()">Restart</button>
            </mat-card-actions>
          </mat-card-content>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>About</ng-template>
        <div class="tab-content documentation">
          <iframe src="http://reactivex.io/documentation/operators/merge.html" width="100%" height="350"></iframe>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Sample Code</ng-template>
        <div class="tab-content">
          <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
        </div>
      </mat-tab>
    </mat-tab-group>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
