<div class="card-container">
  <mat-card>
    <mat-toolbar color="primary">Create Observables demo</mat-toolbar>

    <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>Example</ng-template>
        <div class="tab-content">
          <mat-card>
            <mat-card-subtitle>Create Observable from scratch</mat-card-subtitle>
            <mat-card-title>The Observer function</mat-card-title>
            <mat-card-content>
              <button mat-raised-button *ngFor="let user of users" class="margin-4"> {{user.name}}</button>
            </mat-card-content>
            <mat-card-content>
              <p>Observer can emit either new values and errors or complete the observable. Each time we subscribe to the observable,
                the observer function fires (cold observable)</p>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
              </mat-card-actions>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>

          <mat-card>
            <mat-card-subtitle>Observable.of</mat-card-subtitle>
            <mat-card-title>The use of the async</mat-card-title>
            <mat-card-content>
              <mat-icon class="card-item material-icons" color="primary" *ngFor="let icon of icons$ | async">{{icon}}</mat-icon>
            </mat-card-content>
            <mat-card-content>
              <p>Observable.of will emit the icons as a single item-array. The async keyword is used to subscribe and listen
                to values emitted by the observable</p>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>

          <mat-card>
            <mat-card-title-group>
              <mat-card-title>{{seconds}} remained to display dialog..</mat-card-title>
              <mat-card-subtitle>Observable.timer</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>Creates an Observable that emits a sequence of integers spaced by a given time interval</p>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>

          <mat-card>
            <mat-card-title-group>
              <mat-card-title>Operator Of</mat-card-title>
              <mat-card-subtitle>Observable.of(array)</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>Emitted item is array: <strong>{{ofEmittedIsArray}}</strong> Total Items:
                <strong>{{ofEmittedVal.length}}</strong></p>
            </mat-card-content>
            <mat-card-content>
              <p>Converts arguments to an observable sequence.</p>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>

          <mat-card>
            <mat-card-title-group>
              <mat-card-title>Operator From</mat-card-title>
              <mat-card-subtitle>Observable.from(array)</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <p>Emitted item is array: <strong>{{fromEmittedIsArray}}</strong> Emitted item is Object:
                <strong>{{fromEmittedIsObject}}</strong> </p>
              <p>
                Object:
                <mat-chip color="warn">{{fromEmittedVal | json}}</mat-chip>
              </p>
            </mat-card-content>
            <mat-card-content>
              <p>Converts arguments to an observable sequence.</p>
            </mat-card-content>
            <mat-card-footer>
              <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>

          <ng-template #dialog>
            <h4>I'm a template dialog. I've been opened using an interval Observable!</h4>
            <hr/>
            <mat-chip color="primary" selected="true"><i>Observable.interval(5000).take(1)</i></mat-chip>
          </ng-template>

        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>About</ng-template>
        <div class="tab-content documentation">
          <iframe src="http://reactivex.io/documentation/operators/from.html" width="100%" height="350"></iframe>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Sample Code</ng-template>
        <div class="tab-content">
          <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
