<md-card class="no-padding">
  <md-toolbar color="primary">Subjects demo</md-toolbar>

  <md-tab-group class="demo-tab-group" md-stretch-tabs>
    <md-tab>
      <ng-template md-tab-label>Example</ng-template>
      <div class="tab-content">
        <div *ngIf="(isLoggedIn$ | async)?.name as user; else loggedIn;">
          <md-card-content class="padding-16">
            <md-input-container class="demo-full-width">
              <input mdInput placeholder="Welcome user.." disabled [value]="user">
            </md-input-container>
          </md-card-content>
          <md-card-content>
            <md-card-actions class="margin-right--16 align-right">
              <button md-raised-button [color]="'warn'" (click)="signout()">Logout</button>
            </md-card-actions>
          </md-card-content>
        </div>
        <ng-template #loggedIn>
          <md-card-content class="padding-16">
            <form>
              <md-input-container class="demo-full-width">
                <input mdInput placeholder="Enter your credentials.." disabled value="chsakell's blog">
              </md-input-container>
              <table cellspacing="0" class="full-width">
                <tr>
                  <td>
                    <md-input-container class="full-width">
                      <input mdInput placeholder="username" #username>
                    </md-input-container>
                  </td>
                  <td>
                    <md-input-container class="full-width">
                      <input mdInput placeholder="password" type="password" #password>
                    </md-input-container>
                  </td>
                </tr>
              </table>
            </form>
          </md-card-content>
          <md-card-content>
            <p class="padding-left--16">Subject act both as an Observable and an Observer</p>
            <md-card-actions class="margin-right--16 align-right">
              <button md-raised-button [color]="'primary'" (click)="signin(username.value, password.value)">Sign In</button>
            </md-card-actions>
          </md-card-content>
        </ng-template>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>About</ng-template>
      <div class="tab-content documentation">
        A Subject is a sort of bridge or proxy that is available in some implementations of ReactiveX that acts both as an observer and as an Observable. Because it is an observer, it can subscribe to one or more Observables, and because it is an Observable, it can pass through the items it observes by reemitting them, and it can also emit new items. Because a Subject subscribes to an Observable, it will trigger that Observable to begin emitting items (if that Observable is “cold” — that is, if it waits for a subscription before it begins to emit items). This can have the effect of making the resulting Subject a “hot” Observable variant of the original “cold” Observable.
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Sample Code</ng-template>
      <div class="tab-content">
        <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
      </div>
    </md-tab>
  </md-tab-group>
  <md-card-footer>
    <md-progress-bar mode="determinate"></md-progress-bar>
  </md-card-footer>
</md-card>
