<md-card class="no-padding">
  <md-toolbar color="primary">Subjects demo</md-toolbar>
  <md-card-content class="padding-16">
    <form>
      <md-input-container class="demo-full-width">
        <input mdInput placeholder="Enter your credentials.." disabled value="chsakell's blog">
      </md-input-container>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input-container style="width: 100%">
              <input mdInput placeholder="username">
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 100%">
              <input mdInput placeholder="password" type="password">
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>
  <md-card-content>
    <p class="padding-left--16">Subject act both as an Observable and an Observer</p>
    <md-card-actions class="margin-right--16 align-right">
      <button md-raised-button [color]="'primary'">{{isLoggedIn === false ? 'Logout' : 'Sign In'}}</button>
    </md-card-actions>
  </md-card-content>
  <md-card-footer>
    <md-progress-bar mode="determinate"></md-progress-bar>
  </md-card-footer>
</md-card>
