<mat-card class="no-padding">
  <mat-toolbar color="primary">Reduce demo</mat-toolbar>

  <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>Example</ng-template>
      <div class="tab-content">
        <mat-card-content class="padding-16">
          <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile *ngFor="let product of products" [ngClass]="{'product-item': true, 'product-item-selected': product.selected}">
              <img [src]="product.image" />
              <div class="product-details">
                <h4>{{product.title}}</h4>
                <h2>{{product.price| currency:'USD':true}}</h2>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-card-content>
          <p>Find the lowest values among products</p>
        </mat-card-content>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>About</ng-template>
      <div class="tab-content documentation">
        <iframe src="http://reactivex.io/documentation/operators/reduce.html" width="100%" height="350"></iframe>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Sample Code</ng-template>
      <div class="tab-content">
        <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
