body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body .mat-sidenav {
  min-width: 15vw;
}

body .mat-sidenav .mat-button {
  width: 100%;
  position: relative;
  bottom: 0;
  margin: 24px 0;
}

body .demo-content {
  padding: 32px;
  box-sizing: border-box;
}

body .mat-toolbar .mat-icon {
  cursor: pointer;
}

body .mat-toolbar .demo-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body h1 {
  font-size: 20px;
}

.demo-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
