<mat-card class="no-padding">
  <mat-toolbar color="primary">Merge Map demo</mat-toolbar>

  <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>Example</ng-template>
      <div class="tab-content">
        <mat-card-content>
          <p>List the different companies for all users</p>
        </mat-card-content>
        <mat-card-content>
          <mat-grid-list cols="5" rowHeight="2:1">
            <mat-grid-tile *ngFor="let company of companies" class="company">
              <div>{{company.name}}</div>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>About</ng-template>
      <div class="tab-content documentation">
        <iframe src="http://reactivex.io/documentation/operators/flatmap.html" width="100%" height="350"></iframe>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Sample Code</ng-template>
      <div class="tab-content">
        <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>