<md-card class="no-padding">
  <md-toolbar color="primary">Merge Map demo</md-toolbar>

  <md-tab-group class="demo-tab-group" md-stretch-tabs>
    <md-tab>
      <ng-template md-tab-label>Example</ng-template>
      <div class="tab-content">
        <md-card-content>
          <p>List the different companies for all users</p>
        </md-card-content>
        <md-card-content>
          <md-grid-list cols="5" rowHeight="2:1">
            <md-grid-tile *ngFor="let company of companies" class="company">
              <div>{{company.name}}</div>
            </md-grid-tile>
          </md-grid-list>
        </md-card-content>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>About</ng-template>
      <div class="tab-content documentation">
        <iframe src="http://reactivex.io/documentation/operators/flatmap.html" width="100%" height="350"></iframe>
      </div>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Sample Code</ng-template>
      <div class="tab-content">
        <section [innerHTML]="sampleCode" highlight-js-content=".highlight"></section>
      </div>
    </md-tab>
  </md-tab-group>
  <md-card-footer>
    <md-progress-bar mode="determinate"></md-progress-bar>
  </md-card-footer>
</md-card>