<md-card>
  <md-card-subtitle>Cold Observables</md-card-subtitle>
  <md-card-title>Each subscriber get its own observable..</md-card-title>
  <md-card-content>

    <div *ngFor="let subscriber of subscribers" class="inline-block--50">
      <div>
        <md-slider class="app-slider" [color]="'primary'" [value]="sliderValue" thumbLabel [min]="0" [max]="10" step="1" #slider1></md-slider>
      </div>
      <div>
        <button md-raised-button [color]="'primary'">Subscribe</button>
        <button md-raised-button style="display:block;float:right">Subscribe</button>
      </div>
    </div>
  </md-card-content>
  <md-card-footer>
    <md-progress-bar mode="determinate"></md-progress-bar>
  </md-card-footer>
</md-card>
