<mat-card>
  <mat-card-subtitle>Observable fromEvent</mat-card-subtitle>
  <mat-card-title>A Hot observable</mat-card-title>
  <mat-card-content>
    <canvas #mouseEventCard id="mouseEventCard" width="400" height="70"></canvas>
  </mat-card-content>
  <mat-card-content>
    <p>Hot observables emit values all the time, it's us that we listen only if we subscribe</p>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="toggleMouseMoveEvent()">{{isListening === false ? 'Subscribe' : 'Unsubscribe'}}</button>
    </mat-card-actions>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-subtitle>Cold Observables</mat-card-subtitle>
  <mat-card-title>Each subscriber get its own observable..</mat-card-title>
  <mat-card-content>

    <div *ngFor="let subscriber of coldSubscribers" class="inline-block--50">
      <div>
        <mat-slider class="app-slider" color="primary" value="subscriber.sliderValue" thumbLabel min="0" max="10" step="1"
          disabled="subscriber.sliderDisabled" *ngIf="subscriber.sliderVisible"></mat-slider>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="coldSubscribe(subscriber.index)">Subscribe</button>
        <button mat-raised-button style="display:block;float:right">{{subscriber.sliderValue}}</button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-subtitle>Hot Observables</mat-card-subtitle>
  <mat-card-title>Each subscriber receives the same emitted value..</mat-card-title>
  <mat-card-content>
    <mat-slider class="app-slider" color="primary" value="hotIntervalSlider.sliderValue" thumbLabel min="0" max="20"
      step="1" disabled="hotIntervalSlider.sliderDisabled" style="width:100%" *ngIf="hotIntervalSlider.sliderVisible"></mat-slider>
  </mat-card-content>
  <mat-card-content>
    <div *ngFor="let subscriber of hotSubscribers" class="inline-block--50">
      <div>
        <mat-slider class="app-slider" color="primary" value="subscriber.sliderValue" thumbLabel min="0" max="20" step="1"
          disabled="subscriber.sliderDisabled" *ngIf="subscriber.sliderVisible"></mat-slider>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="hotSubscribe(subscriber.index)">Subscribe</button>
        <button mat-raised-button style="display:block;float:right">{{subscriber.sliderValue}}</button>
      </div>
    </div>
    <mat-card-actions class="align-center">
      <button mat-raised-button color="warn" (click)="connect()">Connect</button>
    </mat-card-actions>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
