/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/theme.css';
.home-image {
  height: 80vh;
  background-size: cover;
}

.home-phrase.mat-grid-tile {
  text-align: center !important;
  background: #3f51b5 !important;
  color: #3f51b5;
  font-style: italic;
  font-size: xx-large;
}

.home-phrase.mat-grid-tile.phrase-highlight {
  text-align: center !important;
  background: #3f51b5 !important;
  color: whitesmoke;
  font-style: italic;
  font-size: xx-large;
}

.home-phrase.mat-grid-tile.phrase-highlight .flipper,
.home-phrase.mat-grid-tile.phrase-highlight .flipper {
  transform: rotateY(180deg);
}

.home-link {
  margin: auto auto;
  color: #e6e8f6;
  font-size: 20px;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-flow: column nowrap;
}

.card-container .mat-card {
  margin: 0 16px 16px 0;
}

.card-container .card-item {
  padding: 10px;
}

.demo-card-container img {
  background-color: gray;
}

.no-padding {
  padding: 0px !important;
}

.padding-16 {
  padding: 16px !important;
}

.padding-left--16 {
  padding-left: 16px;
}

.margin-right--16 {
  margin-right: 16px !important;
}

.card-container .mat-list[dense] .mat-list-item,
.mat-nav-list[dense] .mat-list-item {
  display: inline-block;
  background-color: #FF5722;
  margin: 2px;
}

#mouseEventCard {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.app-slider {
  width: 300px;
}

.card-post-item {
  display: inline-block;
  width: 50%;
}

.md-select--150 {
  width: 150px;
}

.margin-4 {
  margin: 4px !important;
}

.margin-bottom-4 {
  margin-bottom: 4px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.posts-container md-card {
  display: inline-block !important;
  margin: 4px;
  background: #3f51b5;
  color: #e6e8f6;
}

.inline-block--50 {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  margin: 4px 0 4px -4px;
  padding: 10px;
  border: 1px solid #bdbdbd;
}

.full-width {
  width: 100%;
}

.mat-nav-list .mat-list-item {
  border-bottom: 2px solid #607D8B;
}

.tab-content {
  padding: 16px;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.documentation {
  background: #F0F0F0;
  padding: 1.5em;
  font-family: serif;
}

.product-item-selected {
  background: #ff5722 !important;
}

.product-item img {
  width: 100px;
}

.product-details {
  padding: 5px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-link {
  margin: 10px 10px;
  color: #bec4e6;
  text-decoration: none;
}

.toolbar-link:hover {
  color: #ff5722;
}

.button-buffer {
  background: #3f51b5;
}

.button-buffer:hover {
  background: #ff5722;
  cursor: pointer;
}

.company {
  background: #f44336;
  font-weight: 700;
}


/* Flip */


/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
}


/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
  width: 100%;
  background: #303030;
}


/* hide back of pane during swap */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
}
