/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/theme.css';
.card-container {
  display: flex;
  flex-flow: column nowrap;
}

.card-container .mat-card {
  margin: 0 16px 16px 0;
}

.card-container .card-item {
  padding: 10px;
}

.demo-card-container img {
  background-color: gray;
}

.card-container .mat-list[dense] .mat-list-item, .mat-nav-list[dense] .mat-list-item {
    display: inline-block;
    background-color: #ffd740;
    margin: 2px;
}

#mouseEventCard {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.app-slider {
  width: 300px;
}
