<div class="card-container">
  <mat-card class="no-padding">
    <mat-toolbar color="primary">Zip operator demo</mat-toolbar>

    <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>Example</ng-template>
        <div class="tab-content">
          <mat-card-content class="padding-16">
            <mat-card-content>
              <mat-slider class="app-slider" color="primary" [value]="sliderValue" [disabled]="sliderDisabled" thumbLabel [min]="0" max="10"
                step="1" #slider1></mat-slider>
              <mat-list dense>
                <mat-list-item *ngFor="let user of users">
                  <h3 mat-line>{{user.username}}</h3>
                  <p mat-line class="demo-secondary-text">{{user.name}}</p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-content>
              <p>The zip operator will subscribe to all inner observables, waiting for each to emit a value. Once this occurs,
                all values with the corresponding index will be emitted. This will continue until at least one inner observable
                completes.
              </p>
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="startZipping(10)">Set interval 10</button>
                <button mat-raised-button color="warn" (click)="startZipping(5)">Set interval 5</button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card-content>
          <mat-card-content>
            <p>Find the lowest values among products</p>
          </mat-card-content>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>About</ng-template>
        <div class="tab-content documentation">
          <iframe src="http://reactivex.io/documentation/operators/zip.html" width="100%" height="350"></iframe>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Sample Code</ng-template>
        <div class="tab-content">
          <section [innerHTML]="sampleCodeZip" highlight-js-content=".highlight"></section>
        </div>
      </mat-tab>
    </mat-tab-group>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

<div class="card-container">
  <mat-card class="no-padding">
    <mat-toolbar color="primary">Observable.withLatestFrom & Observable.combineLatest operators demo</mat-toolbar>

    <mat-tab-group class="demo-tab-group" mat-stretch-tabs>
      <mat-tab>
        <ng-template mat-tab-label>Example</ng-template>
        <div class="tab-content">
          <mat-card>
            <mat-card-subtitle>
              <span style="float:right">
        <mat-select [(ngModel)]="operator" class="mat-select--150" (change)="switchOperator($event.value)">
          <mat-option [value]="'withLatestFrom'">
            withLatestFrom
          </mat-option>
          <mat-option [value]="'combineLatest'">
            combineLatest
          </mat-option>
        </mat-select>
        </span>
            </mat-card-subtitle>
            <mat-card-content>
              <mat-select placeholder="Select user" class="mat-select--150">
                <mat-option *ngFor="let user of ds.getUsersSync()" [value]="user.id" (click)="nextUser(user)">
                  {{user.name}}
                </mat-option>
              </mat-select>
              <button mat-icon-button matTooltip="tooltip" matTooltipPosition="'right'">
          <mat-icon class="material-icons" color="primary">info</mat-icon>
        </button>
              <br/>
              <div>
                <mat-button-toggle-group>
                  <mat-button-toggle value="company" (click)="nextOption('company')">
                    View Company
                    <mat-icon class="material-icons" color="primary">card_travel</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="address" (click)="nextOption('address')">
                    View Address
                    <mat-icon class="material-icons" color="accent">add_location</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle value="posts" (click)="nextOption('posts')">
                    View Posts
                    <mat-icon class="material-icons" color="warn">rss_feed</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
                <button mat-icon-button matTooltip="the source observable" matTooltipPosition="'right'">
          <mat-icon class="material-icons" color="primary">info</mat-icon>
        </button>
              </div>
            </mat-card-content>
            <mat-card-content [ngSwitch]="selectedOption$ | async">
              <div *ngSwitchCase="'company'">
                <!--{{(selectedUser$ | async)?.company.name}}-->
                <mat-card *ngIf="selectedUser">
                  <mat-card-title-group>
                    <mat-card-title>{{selectedUser?.company.name}}</mat-card-title>
                    <mat-card-subtitle>{{selectedUser?.company.catchPhrase}}</mat-card-subtitle>
                    <mat-card-subtitle>{{selectedUser?.company.bs}}</mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card>

              </div>
              <div *ngSwitchCase="'address'">
                <mat-card *ngIf="selectedUser">
                  <mat-card-title-group>
                    <mat-card-title>{{selectedUser?.address.street}}</mat-card-title>
                    <mat-card-subtitle>{{selectedUser?.address.suite}}</mat-card-subtitle>
                    <mat-card-subtitle>{{selectedUser?.address.city}}</mat-card-subtitle>
                  </mat-card-title-group>
                </mat-card>

              </div>
              <div *ngSwitchCase="'posts'">
                <div *ngFor="let post of selectedUserPosts" class="card-post-item">
                  <mat-card>
                    <mat-card-title-group>
                      <mat-card-title>{{post.title}}</mat-card-title>
                      <mat-card-subtitle>{{post.body}}</mat-card-subtitle>
                    </mat-card-title-group>
                  </mat-card>
                </div>
              </div>
            </mat-card-content>
            <mat-card-content>
              <p>Combines the source Observable with other Observables to create an Observable whose values are calculated from
                the latest values of each, only when the source emits..</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>About</ng-template>
        <div class="tab-content documentation">
          <iframe src="http://reactivex.io/documentation/operators/combinelatest.html" width="100%" height="350"></iframe>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Sample Code</ng-template>
        <div class="tab-content">
          <section [innerHTML]="sampleCodeCombine" highlight-js-content=".highlight"></section>
        </div>
      </mat-tab>
    </mat-tab-group>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>